@import url('https://fonts.googleapis.com/css2?family=Jura&family=Major+Mono+Display&family=Montserrat:wght@400;600;800&family=Orbitron&family=Roboto&family=Share+Tech+Mono&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  color: #1b1b32;
  background-color: #06607F;
  font-family: 'Roboto', sans-serif;
  margin-top: 40px;
}
h1{
  color: #1b1b32;
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
}
.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.contenedor-logo{
  width: 100%;
  margin: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-logo img{
  width: 150px;
}
.contenedor-ppal{
  width: 600px;
  min-height: 500px;
  background-color: white;
  padding: 25px;
  margin: 10px;
  border-radius: 12px;
}